.node {
  width: 40px;
  height: 40px;
  outline: 1px solid black;
  display: inline-block;
}

td {
  height:30px;
  width:30px;
  border:1px solid;
  text-align:center;
}
td:first-child {
  border-left:solid;
}
td:nth-child(3n) {
  border-right:solid ;
}

.node-num{
  background-color: #ADD8E6;
}

.node-visited{
  background-color: #FFCCCB;
}

.node-selected{
  background-color: yellow;
}

.node-good{
  background-color: #90EE90;
}

.node-bad{
  background-color: #FFCCCB;
}

.node-highlighted {
  background-color: #add8e6;
}
