.grid {
  margin: 100px 0 0;
}

@media screen and (max-width: 1000px) {
  .grid {
    margin: 20px 0 0;
  }
}

table {
  margin:0.1em auto;
}

tr:first-child {
  border-top:solid;
}
tr:nth-child(3n) td {
  border-bottom:solid ;
}
